@model Data_Base_Bank.Models.Employee
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
    <a asp-area="" asp-controller="Employees" asp-action="Index">Back</a>
</h3>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.NameEmpl, "Имя сотрудника")
    <br />
    @Html.EditorFor(model => model.NameEmpl)
    <br /><br />
    @Html.LabelFor(model => model.SurnameEmpl, "Фаимлия сотрудника")
    <br />
    @Html.EditorFor(model => model.SurnameEmpl)
    <br /><br />
    @Html.LabelFor(model => model.MiddlenameEmpl, "Отчество сотрудника")
    <br />
    @Html.EditorFor(model => model.MiddlenameEmpl)
    <br /><br />
    @Html.LabelFor(model => model.Patronymic, "Должность")
    <br />
    @Html.EditorFor(model => model.Patronymic)
    <br /><br />
    @Html.LabelFor(model => model.DateofBirth, "Дата рождения")
    <br />
    @Html.EditorFor(model => model.DateofBirth)
    <br /><br />
    <input type="submit" value="Добавть" />
}

