@model Data_Base_Bank.Models.Employee
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <a asp-area="" asp-controller="Employees" asp-action="Index">Back</a>
</h3>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameEmpl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEmpl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SurnameEmpl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SurnameEmpl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddlenameEmpl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddlenameEmpl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>
    </dl>
</div>

