@model Data_Base_Bank.Models.Currency
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <a asp-area="" asp-controller="Currencies" asp-action="Index">Back</a>
</h3>

<div>
    <h4>Currency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameCurrency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameCurrency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exchangerate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exchangerate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_)
        </dd>
    </dl>
</div>


