@using Data_Base_Bank.ViewModels.CurrenciesViewModel
@model CurrenciesViewModel
@addTagHelper "*, Data_Base_Bank"
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Currencies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Валюта: </label>
        @Html.TextBox("type", Model.FilterViewModel.SelectedType, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Обменный курс: </label>
        @Html.TextBox("exchangerate", Model.FilterViewModel.Selectedexchangerate, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Фильтр" class="btn-default"/>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CurrencyIDSort)"
                   asp-route-type="@(Model.FilterViewModel.SelectedType)"
                   asp-route-exchangerate="@(Model.FilterViewModel.Selectedexchangerate)">@Html.DisplayNameFor(model => model.Currency.CurrencyID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameCurrencySort)"
                   asp-route-type="@(Model.FilterViewModel.SelectedType)"
                   asp-route-exchangerate="@(Model.FilterViewModel.Selectedexchangerate)">@Html.DisplayNameFor(model => model.Currency.NameCurrency)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ExchangerateSort)"
                   asp-route-type="@(Model.FilterViewModel.SelectedType)"
                   asp-route-exchangerate="@(Model.FilterViewModel.Selectedexchangerate)">@Html.DisplayNameFor(model => model.Currency.Exchangerate)</a>       
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
                   asp-route-type="@(Model.FilterViewModel.SelectedType)"
                   asp-route-exchangerate="@(Model.FilterViewModel.Selectedexchangerate)">@Html.DisplayNameFor(model => model.Currency.date_)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Currencies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCurrency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exchangerate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CurrencyID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CurrencyID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CurrencyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index" 
page-url-type="@(Model.FilterViewModel.SelectedType)"
page-url-exchangerate="@(Model.FilterViewModel.Selectedexchangerate)"
page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>