@using Data_Base_Bank.ViewModels.DepositorsViewModel
@model DepositorsViewModel
@addTagHelper "*, Data_Base_Bank"
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Deopsitors</h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form method="get">
        <div class="form-inline">
            <label class="control-label">Имя: </label>
            @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })
            <label class="control-label">Фамилия: </label>
            @Html.TextBox("surname", Model.FilterViewModel.SelectedSurname, htmlAttributes: new { @class = "form-control" })
            <label class="control-label">Отчество: </label>
            @Html.TextBox("patronymic", Model.FilterViewModel.SelectedPatronymic, htmlAttributes: new { @class = "form-control" })
            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <table class="table">
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DepositorIDSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-patronymic="@(Model.FilterViewModel.SelectedPatronymic)">@Html.DisplayNameFor(model => model.Depositor.DepositorID)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameDepSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-patronymic="@(Model.FilterViewModel.SelectedPatronymic)">@Html.DisplayNameFor(model => model.Depositor.NameDep)</a>        
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.SurnameDepSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-patronymic="@(Model.FilterViewModel.SelectedPatronymic)">@Html.DisplayNameFor(model => model.Depositor.SurnameDep)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.MiddlenameDepSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-patronymic="@(Model.FilterViewModel.SelectedPatronymic)">@Html.DisplayNameFor(model => model.Depositor.MiddlenameDep)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.AddresSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-patronymic="@(Model.FilterViewModel.SelectedPatronymic)">@Html.DisplayNameFor(model => model.Depositor.Addres)</a>        
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PhoneSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-patronymic="@(Model.FilterViewModel.SelectedPatronymic)">@Html.DisplayNameFor(model => model.Depositor.Phone)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.Passportdata)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-surname="@(Model.FilterViewModel.SelectedSurname)"
                       asp-route-patronymic="@(Model.FilterViewModel.SelectedPatronymic)">@Html.DisplayNameFor(model => model.Depositor.Passportdata)</a>  
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Depositors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepositorID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameDep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurnameDep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiddlenameDep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Addres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passportdata)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DepositorID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DepositorID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DepositorID">Delete</a>
                    </td>
                </tr>
            }
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"
               page-url-name="@(Model.FilterViewModel.SelectedName)"
               page-url-surname="@(Model.FilterViewModel.SelectedSurname)"
               page-url-patronymic="@(Model.FilterViewModel.SelectedPatronymic)"
               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>